@import "../App.css";

.main {
  background-image: url("./img/sep09.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 770px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .Form-Full {
    font-family: Zilla Slab;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    height: auto;
    background-color: transparent;
    padding: 50px;
    border: 1px solid white;
    h1 {
      font-size: 25px;
      margin-bottom: 25px;
      color: #fff;
    }
    .Form-data {
      display: flex;
      flex-direction: column;
      gap: 20px;
      input {
        width: 100%;
        outline: none;
        height: 30px;
        border-radius: 2px;
        border: none;
        font-size: 14px;
      }
    }
  }
  button {
    height: 40px;
    width: 50%;
    margin-top: 20px;
    font-weight: 600;
    border: none;
    background-color: #fff;
    color: black;
  }
  button:hover {
    background-color: black;
    color: #fff;
    border: none;
  }
}
